*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(232, 30%, 21%);
    font-family: "Inter", serif;
    font-size: 20px;
    color:rgb(13, 3, 99);
}

.card{
    display: flex;
    margin: 20px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.sct1{
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.sct1 img, .sct2 img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.name{
    font-weight: 600;
    color: rgb(13, 3, 99);
    margin-top: 20px;
}

.identity{
    margin-bottom: 20px;
    color: rgb(13, 3, 99);
    font-weight: 600;
    font-size: 18px;
    opacity: 80%;
}
.skills{
    text-align: center;
    width: 80%;
    line-height: 1.5;
    margin-bottom: 50px;
    opacity: 70%;
}

.socials{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 30px;
}

.socials a img{
    height: 70px;
    width: 70px;
    padding: 4px;
    background-color: transparent;
}

.btn1{
    display: flex;
    gap: 30px;
}

.btn1a{
    padding: 20px 60px;
    color: hsl(241, 47%, 24%);
    border: 1px solid hsl(241, 47%, 24%);
    border-radius: 15px;
    font-weight: 600;
    font-size: 17px;
    background-color: white;
}

.btn1b{
    padding: 20px 60px;
    background-color: hsl(241, 47%, 24%);
    color: white;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
}

.sct2{
    display: flex;
    gap: 50px;
    height: auto;
    width: 80dvh;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.about-sct{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-sct p{
    font-size: 25px;
    line-height: 1.2;
    width: 90%;
    margin-bottom: 20px;
}

.links{
    text-align: center;
}


/* @media (max-width: 500px){
    .card{
        margin: 30px 50px;
        width: full;
    }

    .sct2{
        display: grid;
        gap: 20px;
        margin: 20px;
    }
} */